<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @examination.study %>
</p>

<p>
  <b>Name:</b>
  <%= @examination.name %>
</p>

<p>
  <b>Voltage:</b>
  <%= @examination.voltage %>
</p>

<p>
  <b>Current:</b>
  <%= @examination.current %>
</p>

<p>
  <b>Exposure:</b>
  <%= @examination.exposure %>
</p>


<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
